.button-sm {
	border-radius: 0.7em;
	padding: 0.02em 0.2em 0.02em;
	font-size: 0.25em;
}

.button-md {
	border-radius: 0.7em;
	padding: 0.08em 0.32em 0.08em;
	font-size: 1.000em;
}

.button-lg {
	border-radius: 0.7em;
	padding: 0.2em 0.7em 0.2em;
	font-size: 2.175em;
}

.button-xl {
	border-radius: 1em;
	padding: 0.35em 0.9em 0.35em;
	font-size: 4.000em;
}

.menu-button {
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	.menu-button {
		height: calc(var(--width) / 10 * 3);
	}

	.menu-button-sm {
		--width: 90px;
	}

	.menu-button-md {
		--width: 130px;
	}

	.menu-button-lg {
		--width: 190px;
	}

	.menu-button-xl {
		--width: 250px;
	}
}

@media only screen and (min-width: 768px) {
	.menu-button {
		height: calc(var(--width) / 10 * 4);
	}

	.menu-button-sm {
		--width: 110px;
	}

	.menu-button-md {
		--width: 140px;
	}

	.menu-button-lg {
		--width: 210px;
	}

	.menu-button-xl {
		--width: 280px;
	}
}

