@media only screen and (min-width: 768px) {
  /* Classes md, lg, xl */
  .font-sm {
    font-size: 0.25em;
  }

  .font-md {
    font-size: 1.000em;
  }

  .font-lg {
    font-size: 2.000em;
  }

  .font-xl {
    font-size: 3.700em;
  }

  .font-xxl {
    font-size: 7.000em;
  }
}

@media only screen and (max-width: 768px) {
  /* Class xs */
  .font-sm {
    font-size: 0.25em;
  }

  .font-md {
    font-size: 0.600em;
  }

  .font-lg {
    font-size: 1.600em;
  }

  .font-xl {
    font-size: 2.500em;
  }

  .font-xxl {
    font-size: 5.000em;
  }
}

@font-face {
  font-family: "Street Gathering";
  src: url("../fonts/Street_Gathering.eot");
  src:
  url("../fonts/Street_Gathering.woff") format("woff"),
  url("../fonts/Street_Gathering.otf") format("opentype"),
  url("../fonts/Street_Gathering.svg") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Hacked";
  src: url("../fonts/8693.ttf");
  font-display: swap;
}

.font-street-gathering {
  font-family: "Street Gathering";
  letter-spacing: 4px;
}


.font-hacked {
  font-family: "Hacked";
  letter-spacing: 4px;
}

.error-msg {
  margin: 0 auto;
  word-wrap: break-word;
  font-size: 0.2em;
  max-width: 320px;
}

@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('../fonts/BrandonGrotesque-Regular.eot');
  src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-brandon {
  font-family: 'Brandon Grotesque Regular';
  letter-spacing: 8px;
}
