.font-sm {
  font-size: 22px;
}

.font-md {
  font-size: 34px;
}

.font-lg {
  font-size: 54px;
}
.font-xl {
  font-size: 120px;
}

@font-face {
font-family: "Street Gathering";
src: url("../fonts/Street_Gathering.eot");
src:
url("../fonts/Street_Gathering.woff") format("woff"),
url("../fonts/Street_Gathering.otf") format("opentype"),
url("../fonts/Street_Gathering.svg") format("svg");
}

@font-face {
  font-family: "Hacked";
  src: url("../fonts/8693.ttf");
}

.font-street-gathering {
  font-family: "Street Gathering";
  letter-spacing: 4px;
}


.font-hacked {
  font-family: "Hacked";
  letter-spacing: 4px;
}

@font-face {
font-family: 'Brandon Grotesque Regular';
src: url('../fonts/BrandonGrotesque-Regular.eot');
src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.font-brandon {
  font-family: 'Brandon Grotesque Regular';
  letter-spacing: 8px;
}
