.menu-logo, .menu-auth,
.menu-game, .menu-help, .menu-profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 768px) {
	.menu {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 3fr 2fr; 
		height: 100vh;
		width: 100%;
	}

	.menu-logo {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
	}

	.menu-auth {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.menu-profile {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.menu-game {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	.menu-help {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}
}

@media only screen and (max-width: 768px) {
	.menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr; 
		height: 100vh;
		width: 100%;
	}

	.menu-logo {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.menu-auth {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.menu-profile {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.menu-game {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	.menu-help {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
}

