

body {
    overflow: hidden;
}
/*body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}*/

a, a:hover {
  text-decoration: none;
}
/*
    Layout for forms and menu:

    <div class="container align-items-center">
        <div class="flex-w-400 text-center justify-center d-flex-column">
            <a href="py-1" class="py-1">1234</a>
            <a href="py-1" class="py-1">1234</a>
            <a href="py-1" class="py-1">1234</a>
        </div>
     <div>
*/
.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.justify-around {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around !important;
}

.justify-end {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between !important;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}
.flex-w-400 {
    flex-basis: 400px;
}
.text-center {
    text-align: center;
}
.align-items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.d-block {
    display: block;
}

/*
    Paddings and margins
*/

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-4 {
    padding-top: 20x;
    padding-bottom: 20px;
}
.px-4 {
    padding-left: 20px;
    padding-right: 20px;
}
.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-menu {
    margin-bottom: 20%;
}


/*
    Layout for gamefield
    Usage:
    <div class="game-container">
            <div class="left-column" style="background-color:aqua">
               ...
            </div>
            <div class="gamefield">
                <div class="row">
                    <div class="cell" style="background-color:red">
                        <div class="cell-content" >
                            <div class="element">
                                <!-- Cell content here-->
                            </div>
                        </div>
                    </div>
                    <div class="cell" style="background-color:red">
                        <div class="cell-content" >
                            <div class="element">
                                <!-- Cell content here-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="background-color:red">
                        <div class="cell-content" >
                            <div class="element">
                                <!-- Cell content here-->
                            </div>
                        </div>
                    </div>
                    <div class="cell" style="background-color:red">
                        <div class="cell-content" >
                            <div class="element">
                                <!-- Cell content here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
*/


.game-container {
    display: flex;
}
.game-container .left-column {
    flex-basis: 30%;
}
.game-container .gamefield {
    flex-basis: 100vmin;
}
.gamefield .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row .cell {
    position: relative;
    flex: 1;
    height: auto;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}
.cell-content {
    position: relative;
    width: 100%;
}

.row .cell-content:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.cell-content .element {
    position: absolute;
    top: 0;
    left: 0;
}

input {
  padding-top: 16px;
  margin: 15px;
  font-family: hacked;
}

label {
  letter-spacing: 0;

}
