/* Neon buttons */
.neon-button-black {
  --outline-color: #333;
}

.neon-button-blue {
  --outline-color: #228DFF;
}

.neon-button-green {
  --outline-color: #adff03;
}

.neon-button-cyan {
  --outline-color: #0abdc6;
}

.neon-button-red {
  --outline-color: #FF1177;
}

.neon-button-purple {
  --outline-color: #9400D3;
}

.neon-button-yellow {
  --outline-color: #FFDD1B;
}

.neon-button-white {
  --outline-color: #FFFFFF;
}

.neon-button-black, .neon-button-blue, .neon-button-green, .neon-button-cyan, .neon-button-red, .neon-button-purple, .neon-button-yellow, .neon-button-white {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background: none;
  outline: none;
  border: 3px outset var(--outline-color);
  color: var(--outline-color);
}

.neon-button-black:hover, .neon-button-blue:hover, .neon-button-green:hover, .neon-button-cyan:hover,
.neon-button-red:hover, .neon-button-purple:hover, .neon-button-yellow:hover, .neon-button-white:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
              0 0 20px var(--outline-color), 0 0 35px var(--outline-color), 0 0 40px var(--outline-color),
              0 0 50px var(--outline-color), 0 0 75px var(--outline-color);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
               0 0 40px var(--outline-color), 0 0 70px var(--outline-color), 0 0 80px var(--outline-color),
               0 0 100px var(--outline-color), 0 0 150px var(--outline-color);
}

/* Neon text */

.neon-text-black, .neon-text-blue, .neon-text-green, .neon-text-cyan, .neon-text-red, .neon-text-purple, .neon-text-yellow, .neon-text-white {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.neon-text-black {
  --outline-color: #333;
}

.neon-text-blue {
  --outline-color: #228DFF;
}

.neon-text-green {
  --outline-color: #adff03;
}

.neon-text-cyan {
  --outline-color: #0abdc6;
}

.neon-text-red {
  --outline-color: #FF1177;
}

.neon-text-purple {
  --outline-color: #9400D3;
}

.neon-text-yellow {
  --outline-color: #FFDD1B;
}

.neon-text-white {
  --outline-color: #FFFFFF;
}


.neon-text-black:hover, .neon-text-blue:hover, .neon-text-green:hover, .neon-text-cyan:hover,
.neon-text-red:hover, .neon-text-purple:hover, .neon-text-yellow:hover, .neon-text-white:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
               0 0 20px var(--outline-color), 0 0 35px var(--outline-color), 0 0 40px var(--outline-color),
               0 0 50px var(--outline-color), 0 0 75px var(--outline-color);
}

/* Other */

.blur {
  filter: blur(1px)
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 1.24387;
  }
}

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 3s infinite;
}

.input-dark:focus {
  transform: translate(0);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  /*text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #228DFF, 0 0 1px #228DFF, 0 0 2px #228DFF, 0 0 1px #228DFF, 0 0 1px #228DFF;*/
}

.input-dark {
  background-color: #333333;
  border: 2px outset #FF1177;
  color: #cfcfcfcf;
  padding: 10px;
}

body {
  background-image: url("../vhs.jpeg");
  /*background-size: contain;*/

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}