/*
 *	States - state-styles with prefix "is-" and etc.
 */

.justify-around,
.justify-end,
.justify-start {
  display: flex;
  flex-direction: row;
}

.justify-around {
  align-items: flex-start;
  justify-content: space-around !important;
}

.justify-end {
  align-items: flex-start;
  justify-content: space-between !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.neon-button-black:hover,
.neon-button-blue:hover,
.neon-button-green:hover,
.neon-button-cyan:hover,
.neon-button-red:hover,
.neon-button-purple:hover,
.neon-button-yellow:hover,
.neon-button-white:hover {
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px var(--outline-color),
    0 0 35px var(--outline-color),
    0 0 40px var(--outline-color),
    0 0 50px var(--outline-color),
    0 0 75px var(--outline-color);
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px var(--outline-color),
    0 0 70px var(--outline-color),
    0 0 80px var(--outline-color),
    0 0 100px var(--outline-color),
    0 0 150px var(--outline-color);
}

.neon-text-black:hover,
.neon-text-blue:hover,
.neon-text-green:hover,
.neon-text-cyan:hover,
.neon-text-red:hover,
.neon-text-purple:hover,
.neon-text-yellow:hover,
.neon-text-white:hover {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px var(--outline-color),
    0 0 35px var(--outline-color),
    0 0 40px var(--outline-color),
    0 0 50px var(--outline-color),
    0 0 75px var(--outline-color);
}

.input-dark:focus {
  transform: translate(0);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f17, 0 0 35px #f17, 0 0 40px #f17, 0 0 50px #f17, 0 0 75px #f17;

  /* text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #228DFF, 0 0 1px #228DFF, 0 0 2px #228DFF, 0 0 1px #228DFF, 0 0 1px #228DFF; */
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.26559;
  }

  45% {
    opacity: 0.84693;
  }

  50% {
    opacity: 0.96019;
  }

  55% {
    opacity: 0.08594;
  }

  60% {
    opacity: 0.20313;
  }

  65% {
    opacity: 0.71988;
  }

  70% {
    opacity: 0.53455;
  }

  75% {
    opacity: 0.37288;
  }

  80% {
    opacity: 0.71428;
  }

  85% {
    opacity: 0.70419;
  }

  90% {
    opacity: 0.7003;
  }

  95% {
    opacity: 0.36108;
  }

  100% {
    opacity: 1;
  }
}
