/*
 *	States - state-styles with prefix "is-" and etc.
 */

.justify-around,
.justify-end,
.justify-start {
  display: flex;
  flex-direction: row;
}

.justify-around {
  align-items: flex-start;
  justify-content: space-around !important;
}

.justify-end {
  align-items: flex-start;
  justify-content: space-between !important;
}

.justify-start {
  justify-content: flex-start !important;
}
 
.space-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}


