
    <div id="pop-up">
        <div id="text-field">
        </div>
    <form id="msgform">
        <input id="message" name="text" type="text">
        <input type="submit" value="send"></form>

    </div>

<style>
    #pop-up {
        position: relative;
        width: 500px;
        height: 500px;
        border: solid 3px cornflowerblue;
    }

    #text-field {
        width: auto;
        position: relative;
        height: 95%;
        background-color: white; 
        border: solid 1px black;
        overflow-wrap: break-word;
        overflow:scroll;
    }

    #message {
        width: 85%;
    }


.message {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 50%;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}      

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

</style>
