
    <div id="pop-up">
        <div id="text-field">
        </div>
    <form id="msgform">
        <input id="message" name="text" type="text">
        <input type="submit" value="send"></form>

    </div>

<style>
    #pop-up {
        position: relative;
        width: 500px;
        height: 500px;
        border: solid 3px cornflowerblue;
    }

    #text-field {
        width: 100%;
        position: relative;
        height: 95%;
        background-color: white; 
        border: solid 1px black;
        overflow-wrap: break-word;
        overflow:scroll;
    }

    #message {
        width: 85%;
    }

</style>
