<div class="container align-items-center text-center">
	<div id="menu">
		<a href="/" class="neon-text-red font-xl font-street-gathering">Leaderboard</a>
		<div class="align-items-center d-flex-row">
		</div>
		<div class="align-items-center d-flex-column scroll height-md">
			<!-- TODO(Xenobyte): адаптация font-size под мобилки -->
			<table class="neon-text-yellow font-md font-brandon" id="leaderboard">
				<tr>
					<th>Nickname</th>
					<th>Scores</th>
				</tr>
			{{#each users}}
			<tr>
				<th>{{this.name}}</th>
				<th>{{this.score}}</th>
			</tr>
			{{/each}}
			</table>
		</div>
		<div class="font-brandon neon-text-blue font-md">

			{{#pagination currentPage pageCount size}}
<div class="pagination" id="pagination">
  {{#unless startFromFirstPage}}
    <a href="#">&lt;</a>
  {{/unless}}

  {{#each pages}}
    {{#unless isCurrent}}
      <a href="{{page}}">{{page}}</a>
    {{/unless}}
  {{/each}}

  {{#unless endAtLastPage}}
    <a href="#">&gt;</a>
  {{/unless}}
</div>
{{/pagination}}

		</div>
	</div>
</div>
