<div id="container">
    <div class="l-flex-column height-md">
        <a href="/" class="neon-text-red font-xxl">Leaderboard</a>
        <table class="font-md font-brandon leaderboard">
            <tr class="neon-text-blue">
                <th>Login</th>
                <th>Scores</th>
            </tr>
            {{#each users}}
                <tr class="neon-text-yellow">
                    <th>{{this.login}}</th>
                    <th>{{this.score}}</th>
                </tr>
            {{/each}}
        </table>
    
        <div class="font-brandon font-md">
            {{#pagination currentPage pageCount size}}
                <div id="pagination">
                    {{#unless startFromFirstPage}}
                        <a href="#">&lt;</a>
                    {{/unless}}

                    {{#each pages}}
                        {{#unless isCurrent}}
                            <a href="{{page}}">{{page}}</a>
                        {{/unless}}
                    {{/each}}

                    {{#unless endAtLastPage}}
                        <a class="neon-text-blue" href="#">&gt;</a>
                    {{/unless}}
                </div>
            {{/pagination}}
        </div>
    </div>
</div>

