<div id="container">
    <div class="l-flex-column" id="modal">
        <p><a href="/" class="font-xl">LOGIN</a></p>
        <form action="" class="l-flex-column" method="POST">
            <input class="py-3 button-md my-2" type="text" id="login" placeholder="Login">
            <div class="error-msg neon-text-white font-brandon"></div>

            <input class="py-3 button-md my-2" type="password" id="password" placeholder="Password">
            <div class="error-msg neon-text-white font-brandon"></div>
            
            <input class="my-3 font-brandon input-submit" value="SUBMIT" type="submit" name="submit">
        </form>
    </div>
</div>

