<div id="menu">
    <div id="menu-logo">
        <a class="button button-lg button-p-lg font-lg" href="/">
            KPACUBO
        </a>
    </div>

    <div id="menu-auth" class="l-flex-column">
        {{#if isAuthorized }}

            <a class="button font-lg " href='/profile'>
                Profile
            </a>
            
            <a class="button font-lg " href='/settings'>
                Settings
            </a>

            <a class="button font-lg " href="/logout">
                Logout
            </a>
          
        {{ else }}
            <a class="button font-lg " href='/signup'>
                Signup
            </a>

            <a class="button font-lg " href='/login'>
                Login
            </a>
    
        {{/if }}
    

   
        <a class="button neon-text-cyan  font-lg" href='/singleplayer'>
            Single
        </a>
     
        <a class="button font-lg" href='/'>
            Multiplayer
        </a>
 
    

        
        <a class="button font-lg " href='/leaderboard'>
            Leaderboard
        </a>
      
        <a class="button font-lg " href='/about'>
            About
        </a>
     
    </div>

</div>
