<div class="menu">
    <div class="menu-logo">
        <a name="index" class="neon-button-red font-xl px-4 py-4" href='/' >KPACUBO</a>
    </div>

    <div class="menu-auth">
        <a class="neon-button-green px-4 py-4" href='/signup'>Signup</a>
        <a class="neon-button-yellow px-4 py-4" href='/login'>Login</a>
    </div>

    <div class="menu-profile">
        <a class="neon-button-cyan px-4 py-4" href='/profile'>Profile</a>
        <a class="neon-button-purple px-4 py-4" href='/leaderboard'>Leaderboard</a>
    </div>

    <div class="menu-game">
        <a class="neon-button-cyan px-4 py-4" href='/'>Single</a>
        <a class="neon-button-blue px-4 py-4" href='/'>Multiplayer</a>
    </div>
    
    <div class="menu-help">
        <a class="neon-button-blue px-4 py-4" href='/settings'>Settings</a>
        <a class="neon-button-blue px-4 py-4" href='/about'>About</a>
    </div>
</div>
