<div id="menu">
    <div id="menu-logo">
        <a name="index" class="button button-lg button-p-lg neon-button-red" href="/">
            <span class="font-lg">KPACUBO</span>
        </a>
    </div>

    <div id="menu-auth">
        {{#if isAuthorized }}
           
            <a class="button button-md button-p-md neon-button-green mx-1" href='/profile'>
                <span class="font-lg">Profile</span>
            </a>
            
            <a class="button button-md button-p-md neon-button-yellow mx-1" href='/settings'>
                <span class="font-lg">Settings</span>
            </a>
          
        {{ else }}
            <a class="button button-md button-p-md neon-button-green mx-1" href='/signup'>
                <span class="font-lg">Signup</span>
            </a>

            <a class="button button-md button-p-md neon-button-yellow mx-1" href='/login'>
                <span class="font-lg">Login</span>
            </a>
    
        {{/if }}
    </div>

    <div id="menu-game">
        <a class="button button-md button-p-md neon-text-cyan neon-button-cyan mx-1" href='/'>
            <span class="font-lg">Single</span>
        </a>
     
        <a class="button button-md button-p-md neon-button-red mx-1" href='/'>
            <span class="font-lg">Multiplayer</span>
        </a>
    </div>
    
    <div id="menu-help">
        
        <a class="button button-md button-p-md neon-button-white mx-1" href='/leaderboard'>
            <span class="font-lg">Leaderboard</span>
        </a>
      
        <a class="button button-md button-p-md neon-button-blue mx-1" href='/about'>
            <span class="font-lg">About</span>
        </a>
     
    </div>
</div>
