<div class="container align-items-center text-center">
	<div id="menu">
		<a href='/' class="neon-text-red font-xl">Profile</a>
		<div class="align-items-center d-flex-column font-brandon font-md">
			<img src="{{ avatar_path }}" class="img-avatar neon-button-white">
			<p class="neon-text-white my-2">Username: {{ username }}</p>
			<p class="neon-text-white my-2">Email: {{ email }}</p>
			<p class="neon-text-white my-2">Score: {{ score }}</p>
			<a href="/settings" class="neon-button-white align-items-center button-md align-items-center">
				<img src="public/img/settings.svg" class="img-icon">
				Settings
			</a>
		</div>
	</div>
</div>
