<div class="container align-items-center text-center">
	<div id="menu">
		<a href='/' class="neon-text-red font-lg font-brandon">Profile</a>
		<div class="align-items-center d-flex-column font-brandon font-md">
			<img src="img/avatar.jpg" class="img-avatar neon-button-white">
			<p class="neon-text-white my-2">Login: Mayushi-desu</p>
			<p class="neon-text-white my-2">Email: tuturu@mail.ru</p>
			<p class="neon-text-white my-2">Scores: 228</p>
			<a href="/settings" class="neon-button-white align-items-center button-md align-items-center">
				<img src="img/settings.svg" class="img-icon">
				Settings
			</a>
		</div>
	</div>
</div>
