<div id="container">
    <div class="l-flex-column">
        <a href="/" class="neon-text-red font-xxl">Profile</a>
        <div class="font-brandon font-lg">
            <img src="{{ avatar_path }}" class="img-avatar neon-button-white">
            <p class="neon-text-white my-2">Login: {{ login }}</p>
            <p class="neon-text-white my-2">Email: {{ email }}</p>
            <p class="neon-text-white my-2">Score: {{ score }}</p>
            <a href="/settings" class="neon-button-white button-lg button-round">
                <img src="public/img/settings.svg" class="img-icon">
                Settings
            </a>
        </div>
    </div>
</div>
