<div id="container">
    <div class="l-flex-column">
        <div class="justify-around my-2">
            <a class="spread spread-xl neon-text-red font-xxl" href="/" >Settings</a>
        </div>

        <form action="" class="l-flex-column" method="POST">
            <div class="justify-end my-4">
                <div class="l-flex-row">
                    <label class="spread spread-lg neon-text-yellow font-brandon font-lg" for="username">
                        Change login
                    </label>
                    <input type="text" id="login"  placeholder="Login" class="spread spread-lg button-md input-dark font-md">
                    <div class="error-msg neon-text-white font-brandon"></div>
                </div>    
            </div>

            <div class="justify-end my-4">
                <div class="l-flex-row">
                    <label class="spread spread-lg neon-text-yellow font-brandon font-lg" for="password">
                        Change password
                    </label>
                    <input type="password" id="password" placeholder="Password" class="spread spread-lg button-md input-dark font-md">
                    <div class="error-msg neon-text-white font-brandon"></div>
                </div>
            </div>

            <div class="justify-end my-4">
                <div class="l-flex-row">
                    <label class="spread spread-lg neon-text-yellow font-brandon font-lg" for="repeat_password">
                        Repeat password
                    </label>
                    <input type="password" id="repeat_password" placeholder="Confirm password" class="spread spread-lg button-md input-dark font-md">
                    <div class="error-msg neon-text-white font-brandon"></div>
                </div>
            </div>

            <div class="justify-end my-4">
                <input type="file" id="avatar" placeholder="Upload avatar">
                <div class="error-msg neon-text-white font-brandon"></div>
            </div>

            <input class="neon-button-blue font-brandon button-md" value="SUBMIT" type="submit" name="submit">
        </form>
    </div>
</div>
