<div class="container align-items-center text-center font-brandon font-md">
	<div class="form text-center justify-center d-flex-column">
		<div id="logo" class="justify-around align-items-center my-4 font-street-gathering">
			<a name="index" class="neon-button-red font-xl px-4 py-4" href='/' >Settings</a>
		</div>

		<form action="" class="d-flex-column justify-center" method="POST">
          <div class="justify-end">
            <label class="neon-text-yellow font-brandon font-md" for="username" style="text-align: center; float: left;">Change username</label>
				<input type="text" id="username" id="username" placeholder="Username" class="input-dark font-md">
        	</div>
        	<div class="justify-end">
          		<label class="neon-text-yellow font-brandon font-md d-block" for="pass">Change password</label>
         		<input type="password" id="pass" placeholder="Password" class="input-dark font-md">
        	</div>
        	<div class="justify-end">
         		<label class="neon-text-yellow font-brandon font-md" for="pass" style="text-align: center; float: left;">Repeat password</label>
				<input type="password" id="repeat_pass" placeholder="Confirm password" class="input-dark font-md">
        	</div>
			<input class="neon-button-blue px-4 py-4 font-brandon button-md" value="SUBMIT" type="submit" name="submit">
		</form>
	</div>
</div>
