		<div class="container align-items-center text-center font-street-gathering font-lg">
			<div class="form text-center justify-center d-flex-column">

				<form action="" class="d-flex-column justify-center" method="POST">
          <div class="justify-end">
            <label class="neon-text-yellow font-brandon font-md" for="username" style="text-align: left; float: left;">Change username</label>
					<input type="text" id="username" name="username" placeholder="Username" class="input-dark">
        </div>
        <div class="justify-end">
          <label class="neon-text-yellow font-brandon font-md" for="pass" style="text-align: left; float: left;">Change password</label>
          <input type="password" name="pass" placeholder="Password" class="input-dark">
        </div>
        <div class="justify-end">
          <label class="neon-text-yellow font-brandon font-md" for="pass" style="text-align: left; float: left;">Repeat password</label>
					<input type="password" name="repeat_pass" placeholder="Confirm password" class="input-dark">
        </div>
					<input class="neon-button-blue px-4 py-4 font-brandon button-md" value="SUBMIT" type="submit" name="submit">
				</form>
			</div>
		</div>
