<div class="container align-items-center text-center font-street-gathering font-lg">
	<div class="form text-center justify-center d-flex-column">
		<div class="logo">
			<p><a name="menu"href='/' class="neon-text-red font-lg px-4 py-4">SIGN  UP</a></p>
		</div>
		<form action="" class="d-flex-column justify-center" method="POST">
			<input class="input-dark" type="text" id="username" placeholder="Username">
			<div class="error-msg neon-text-white font-brandon"></div>
			<input class="input-dark" type="text" id="login" placeholder="Login">
			<div class="error-msg neon-text-white font-brandon"></div>
			<input class="input-dark" type="email" id="email" placeholder="Email">
			<div class="error-msg neon-text-white font-brandon"></div>
			<input class="input-dark" type="password" id="password" placeholder="Password">
			<div class="error-msg neon-text-white font-brandon"></div>
			<input class="input-dark" type="password" id="repeat_password" placeholder="Repeat password">
			<div class="error-msg neon-text-white font-brandon"></div>
			<input class="neon-button-blue font-brandon button-sm align-items-center justify-center" value="SUBMIT" type="submit" name="submit">
		</form>
	</div>
</div>
