<div class="rotate font-xl">
    Rotate your device
</div>
<div class="l-flex-row font-brandon">
    <div id="main-field" class="l-flex-column space-between">
        {{#unless isQuestion}}
        <div id="game-field" class="l-flex-row">
            {{else}}
            <div id="game-field" class="l-flex-column">
                {{/unless}}
                <div id="questions" class="grid">
                    {{#if isQuestionList}}
                    {{#each themes}}
                    <div class="item l-flex-row font-lg justify-center align-center">
                        <div>
                            {{this.name}}
                        </div>
                    </div>
                    {{#each this.questions}}
                    <div class="item l-flex-row  font-lg justify-center align-center">
                        <div>
                            {{#if active}}
                            {{this.value}}
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                    {{/if}}

                    {{#if isQuestion}}
                    <div class="item l-flex-row justify-center align-center">
                        <div class="font-lg">
                            {{question}}
                        </div>
                    </div>
                    {{/if}}

                    {{#if isMessage}}
                    <div class="item l-flex-row justify-center align-center">
                        <div class="font-lg">
                            {{message}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{#if isQuestion}}
                <div id="input" class="l-flex-row">
                    <form class="l-flex-row justify-center align-center">
                        <input type="text" id="answer">
                        <button class="answer" type="submit">Submit</button>
                    </form>
                </div>
                {{/if}}
            </div>
            <div id="player-field" class="l-flex-row">
                {{#each users}}
                <div class="card l-flex-column justify-center align-center">
                    <img src="{{this.img}}" width="50" height="50"></img>
                    <div class="l-flex-column">
                        <p>{{this.login}}</p>
                        <p>{{this.score}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="second-field" class="l-flex-column space-between justify-start">
            <a class="button" id="exit-button" href="/">FUCK GO BACK</a>
        </div>
    </div>
    <style type="text/css">
        form {
            width: 100%;
            height: 100%;
        }
        input {
            width: 90%;
            height: 100%;
            box-sizing: border-box;
        }
        button {
            width: 10%;
            height: 100%;
        }
        @media screen and (max-width: 798px) {
        .answer {
            width: 30%;
        }
    }
        #main-field { height: 99vh; width: 75vw; padding: 3px; }
        #second-field { height: 99vh; width: 25vw; padding: 3px;}
        #game-field { height: 80%; width: auto; border: solid 1px white;}
        #player-field { height: 18%; width: auto; border: solid 1px white;}
        #pause-button { height: 100%; width: 8%;}
        {{#unless isQuestion}}
            #questions {
                height: 100%; width: 100%;
            }
        {{else}}
        #questions {
            height: 90%; width: 100%;
        }
        {{/unless}}
        #input {
            height: 10%; width: 100%;
        }
        #exit-button {display: flex; align-items: center;
            justify-content: center;
            height: 15%; width: 100%; 
            background-color: blueviolet;}
        .grid { display: grid; grid-template-columns: repeat({{num}}, 1fr);}
        .item:nth-child(even) { background-color: rgb(39, 189, 189);}
        .item:nth-child(odd) { background-color: rgb(46, 170, 129)}
        .card {width: 100%;}

        .rotate {
            position: fixed;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: rgb(39, 189, 189);
        }

        @media screen and (orientation: landscape) {
            .rotate {
                display: none;
            }
        }
    </style>