    <div class="l-flex-row font-brandon">
    <div id="main-field" class="l-flex-column space-between">
        <div id="game-field" class="l-flex-row">
            <div id="questions" class="grid">
                <!--{{#fillthemes themes}}-->
                {{#each themes}}
                    <div class="item l-flex-row justify-center align-center"><div>{{this.name}}</div></div>
                    {{#each this.questions}}
                        <div class="item l-flex-row justify-center align-center">
                            <div>
                                {{this.value}}
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
                <!--{{/fillthemes}}-->
            </div>
        </div>
        <div id="player-field" class="l-flex-row">
            {{#each users}}
            <div class="card l-flex-column justify-center align-center">
                <img src="{{this.avatarPath}}" width="50" height="50"></img>
                <div class="l-flex-column">
                    <p>{{this.login}}</p>
                    <p>{{this.score}}</p>
                </div>
             </div>
            {{/each}}
        </div>
    </div>
    <div id="second-field" class="l-flex-column space-between justify-start">
        <div id="exit-button"><a href="/">FUCK GO BACK</a></div>
    </div>
    </div>
    <style type="text/css">
        #main-field { height: 99vh; width: 75vw; padding: 3px; }
        #second-field { height: 99vh; width: 25vw; padding: 3px;}
        #game-field { height: 80%; width: auto; border: solid 1px white;}
        #player-field { height: 18%; width: auto; border: solid 1px white;}
        #pause-button { height: 100%; width: 8%;}
        #questions {height: 100%; width: 100%; }
        #exit-button {display: flex; align-items: center;
            justify-content: center;
            height: 15%; width: 100%; 
            background-color: blueviolet;}
        .grid { display: grid; grid-template-columns: repeat({{num}}, 1fr);}
        .item:nth-child(even) { background-color: rgb(39, 189, 189);}
        .item:nth-child(odd) { background-color: rgb(46, 170, 129)}
        .card {width: 100%;}
    </style>
